@model cafe.Models.Category

@{
    ViewData["Title"] = "Category Edit Page";
}

<div class="row mb-2">
    <div class="col-sm-6">
        <h1 class="m-0">Category Edit</h1>
    </div>
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item">
                <a asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Home Admin</a>
            </li>
            <li class="breadcrumb-item">
                <a asp-area="Admin" asp-controller="Categories" asp-action="Index">Category</a>
            </li>
            <li class="breadcrumb-item active">Category Edit</li>
        </ol>
    </div>
</div>

<hr />

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
        <span class="text-danger">@ViewBag.error</span>
    </div>

    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CreatedDate" class="control-label"></label>
        <input asp-for="CreatedDate" class="form-control" type="datetime-local" />
        <span asp-validation-for="CreatedDate" class="text-danger"></span>
    </div>

    <div class="form-group form-check">
        <label class="form-check-label">
            <input class="form-check-input" asp-for="IsActive" />
            @Html.DisplayNameFor(model => model.IsActive)
        </label>
    </div>

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}